.reviewComponent-main {
  font-family: "Open Sans", sans-serif;
  
}

.reviewComponent-hero {
  background: #3f71af98;
  padding: 50px 0;
}

.reviewComponent-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.reviewComponent-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 10px; */
}

.reviewComponent-colLeft {
  flex: 1;
  min-width: 300px;
}

.reviewComponent-imageWrapper {
  margin-bottom: 20px;
}

.reviewComponent-mainImage {
  max-width: 100%;
  height: auto;
}

.reviewComponent-reviewImages {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.reviewComponent-reviewImage img {
  width: 150px;
}

.reviewComponent-formWrapper {
  flex: 1;
  min-width: 300px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
  background: #f8f8f815;
  margin-top: 20px;
  box-shadow: 0 0 10px #ffffff;
  color: white;
  max-width: 500px;
  margin-left: 20px;
  border-radius: 15px;
}

.reviewComponent-formTitle {
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-size: 25px;
}

.reviewComponent-formGroup {
  margin-bottom: 10px;
}

.reviewComponent-ratingContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.reviewComponent-submitBtnWrapper {
  text-align: center;
}

.reviewComponent-submitBtn {
  background-color: #28a745;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}

.reviewComponent-feedbackSection {
  padding: 50px 20px;
  background: linear-gradient(120deg, #f0f4f8, #d9e2ec);
}

.reviewComponent-feedbackTitle {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.reviewComponent-highlight {
  color: #1890ff;
}

.reviewComponent-cardRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 0;
}

.reviewComponent-feedbackCard {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
}

.reviewComponent-feedbackMessage {
  font-style: italic;
  margin-bottom: 16px;
}

.reviewComponent-feedbackRating {
  margin-bottom: 16px;
}

.reviewComponent-feedbackName {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
}

.reviewComponent-feedbackOrder {
  color: #999;
}
