#main #subjects {
  padding: 50px 0px;
  background: #3f71af98;
  /* background: url(../img/subjects/SL-010221-39450-20.jpg) center top no-repeat
    fixed;
  background-size: cover;
  padding: 60px 0 60px 0;
  position: relative; */
}

/* #main #subjects::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(167, 163, 192, 0.326);
  z-index: 9;
} */

#main #subjects .container {
  position: relative;
  z-index: 10;
}

/**/

#main #subjects .container .row .subjects-category {
  padding: 20px; /* Add some padding for better spacing */
  border-radius: 10px; /* Add rounded corners */
  /* border: 1px solid #555;  */
}

#main #subjects .container .row .subjects-category .list-group {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7); /* Adjust the values for your desired shadow effect */
}

#main #subjects .container .row .subjects-category .list-group .list-group-item {
  background-color: rgba(245, 245, 220, 0.295);
  color: rgb(18, 18, 18); /* Text color */
  transition: transform 0.3s ease;
}

@media only screen and (max-width: 600px) {
  #main #subjects .container .row .subjects-category .list-group .list-group-item {
    font-size: 12px;
  }
}

#main #subjects .container .row .subjects-category .list-group .list-group-item:hover {
  transform: scale(1.025);
  background-color: rgba(182, 176, 207, 0.295);
}

#main #subjects .container .row .subjects-category .list-group .list-group-item.active {
  background-color: rgba(17, 45, 78, 0.7); /* Active item background color */
  color: #fff; /* Active item text color */
}

/**/

#main #subjects .container .row .subjects-list-row .subjects-list-row-column .list-group-item {
  /* background: #112d4e; */
  color: rgb(238, 238, 238);
  background: rgba(17, 45, 78, 0.7);
  transition: transform 0.3s ease;
}

#main #subjects .container .row .subjects-list-row .subjects-list-row-column .list-group-item:hover {
  transform: scale(1.025);
  /* background: rgba(17, 45, 78, 0.4); */
}

#main #subjects .container .row .subjects-list-row h4 {
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
