.login-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.login-wrapper {
  display: flex;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  max-width: 900px;
  width: 100%;
}

.login-left {
  flex: 1;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
}

.login-image {
  width: 100%;
  /* max-width: 350px; */
  object-fit: contain;
}

.login-right {
  flex: 1;
  padding: 50px;
}

.login-title {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.login-input {
  height: 40px;
  border-radius: 8px;
}

.login-forgot {
  text-align: right;
  margin-bottom: 10px;
}

.login-link {
  color: #1890ff;
}

.login-button {
  height: 40px;
  border-radius: 8px;
  background-color: #1890ff;
}

.login-register-text {
  text-align: center;
  margin-top: 20px;
}

.login-register-button {
  background: none;
  border: none;
  color: #1890ff;
  cursor: pointer;
  font-weight: 500;
  padding: 0;
}
